@import url("https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.1.45/css/materialdesignicons.css");

@font-face {
  font-family: "MyWebFont";
  src: url("/final_project/fonts/normal.woff") format("woff");
  font-weight: 400px;
  font-style: normal;
}

@font-face {
  font-family: "MyWebFont";
  src: url("/final_project/fonts/Italic.woff2") format("woff");
  font-weight: 400px;
  font-style: italic;
}

@font-face {
  font-family: "MyWebFont";
  src: url("/final_project/fonts/bold2.woff") format("woff");
  font-weight: 700px;
  font-style: normal;
}

h3,
ul,
li {
  margin: 0;
  padding: 0;
}

:root {
  --bg-color-orange: #fe8340;
  --bg-color-green: #293e31;
  --text-color-orange: #fe8340;
  --text-color-green: #293e31;
}

.header_content {
  font-family: MyWebFont;
  width: 100%;
  background-color: var(--bg-color-green);
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.name-title {
  width: 300px;
  background-color: var(--bg-color-orange);
  height: 100%;
  z-index: 1;
}

.name-title > * {
  padding-left: 5px;
  margin: 0 auto;
  padding-top: 25px;
  color: var(--text-color-green);
}

.title_text {
  font-style: italic;
  font-size: 18px;
}

.title_text_primary {
  letter-spacing: 2px;
}

.menu-content {
  position: absolute;
  right: 350px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  line-height: 100px;
  margin: 0;
  padding: 0;
  flex-grow: 0;
  flex-shrink: 0;
}

.controls-btn {
  display: none;
  height: 100%;
  width: 50px;
}

.menu li {
  list-style: none;
  line-height: 100px;
}

.menu li a {
  display: block;
  height: 100%;
  padding: 0 10px;
  color: #fcf9f4;
  font-family: MyWebFont;
  font-size: 14px;
  font-style: italic;
}

.menu li a:hover {
  color: var(--text-color-orange);
}

.login-btn {
  line-height: 100px;
  position: absolute;
  right: 200px;
}

.logIn {
  color: var(--text-color-orange);
  font-size: 18px;
  font-style: italic;
  margin-left: 50px;
}

.logIn:hover {
  color: #feb19f;
}

.logIn-icon {
  border: 1px solid var(--bg-color-green);
  border-radius: 50%;
  font-size: 20px;
  color: var(--text-color-green);
  background-color: var(--bg-color-orange);
  font-style: italic;
}

a {
  text-decoration: none;
}

.joinus-btn {
  position: fixed;
  height: 100px;
  background-color: var(--bg-color-orange);
  width: 150px;
  display: flex;
  justify-content: space-between;
  right: 0;
  z-index: 10;
  &.inactive {
    display: none;
  }
}

.joinus-btn-img-container {
  width: 62px;
  height: 100px;
  position: relative;
  left: -45px;
  background-color: var(--bg-color-orange);
}

.link-image {
  position: relative;
  background-color: var(--bg-color-orange);
  height: 57px;
  width: 62px;
  display: block;
  top: 20px;
  left: 30px;
}

.text-container {
  margin-right: 30px;
}

.joinUs-icon {
  font-size: 15px;
  color: var(--text-color-green);
  writing-mode: tb-rl;
  padding-top: 25px;
  font-style: italic;
}

.santa-svg {
  width: 100%;
  height: 100%;
}

.joinUs-side-conteiner {
  display: none;
}

.joinUs-side-conteiner.active {
  width: 708px;
  display: block;
  position: fixed;
  z-index: 2;
  background-color: #293e31;
  top: 0;
  right: 0;
  height: 1000px;
}

@media (max-width: 560px) {
  .show-menu-btn {
    position: absolute;
    background-color: var(--bg-color-orange);
    color: #fcf9f4;
    border: none;
    font-size: 32px;
    top: 40px;
    right: 50px;
    z-index: 1;
  }

  .controls-btn {
    display: block;
  }

  .menu-content {
    display: none;
  }

  .menu.active {
    position: fixed;
    width: 100%;
    height: 100vh;
    text-align: center;
    left: 0;
    top: 0;
  }

  .name-title {
    position: relative;
    left: 50%;
    transform: translateX(-20%);
    height: 100px;
  }

  .login-btn {
    visibility: hidden;
  }

  .joinus-btn {
    height: 100px;
    position: absolute;
    left: 0;
  }

  .header_content {
    background-color: var(--bg-color-orange);
  }

  .hide-menu-btn {
    display: none;
  }

  .menu-content.active {
    display: block;
  }

  .hide-menu-btn.active {
    display: block;
    position: absolute;
    background-color: var(--bg-color-green);
    color: var(--text-color-orange);
    border: none;
    font-size: 20px;
    top: 20px;
    right: 20px;
    z-index: 1;
  }

  .show-menu-btn.inactive {
    display: none;
  }

  .name-title.inactive {
    display: none;
  }

  .header_content.active {
    background-color: var(--bg-color-green);
    height: 100vh;
  }

  .joinus-btn.inactive {
    display: none;
  }

  .menu.active {
    display: block;
    font-weight: bold;
    font-size: 18px;
    padding-top: 20px;
  }

  .login-btn.active {
    position: absolute;
    top: 20px;
    right: 35%;
    visibility: visible;
  }
}
