.slide_img {
  width: 100%;
  display: block;
}

.slide.active {
  opacity: 1;
  visibility: visible;
}

.slide {
  list-style: none;
  width: 100%;
  position: relative;
  opacity: 0;
  visibility: hidden;
  transition: opacity 500ms;
}
