@import url("https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.1.45/css/materialdesignicons.css");

@font-face {
  font-family: "MyWebFont";
  src: url("/final_project/fonts/normal.woff") format("woff");
  font-weight: 400px;
  font-style: normal;
}

@font-face {
  font-family: "MyWebFont";
  src: url("/final_project/fonts/Italic.woff2") format("woff");
  font-weight: 400px;
  font-style: italic;
}

@font-face {
  font-family: "MyWebFont";
  src: url("/final_project/fonts/bold2.woff") format("woff");
  font-weight: 700px;
  font-style: normal;
}

h2 {
  margin: 0;
  padding: 0;
}

.login-form {
  width: 100%;
  display: none;
}

.login-form.active {
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: white;
}

.login {
  width: 380px;
  text-align: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: 30%;
  & .form-title {
    margin-bottom: 20px;
    font-size: 40px;
    font-family: "MyWebFont";
  }
  & span {
    font-size: 20pxpx;
    font-style: italic;
    font-family: "MyWebFont";
    & a {
      color: #fe8340;
    }
  }
}

.facebook,
.google,
.mail {
  width: 316px;
  height: 48px;
  border-radius: 2px;
  cursor: pointer;
  margin: 20px;
}

.facebook {
  background-color: rgb(26, 26, 105);
  border: 1px solid rgb(26, 26, 105);
  color: white;
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  text-align: center;
}

.google {
  background-color: rgb(44, 108, 226);
  border: 1px solid rgb(44, 108, 226);
  color: white;
  font-family: Helvetica, sans-serif;
  font-size: 12px;
}

.icon-facebook,
.icon-google {
  color: white;
  font-size: 20px;
}

.label-checkbox {
  color: #414141;
  font-size: 15px;
  & a {
    color: #414141;
    text-decoration: underline;
  }
}

.or {
  display: block;
}

.mail {
  background-color: white;
  border: 1px solid #414141;
  font-family: Helvetica, sans-serif;
  font-size: 12px;
}

.hide-login-btn {
  background-color: white;
  border: none;
  font-size: 30px;
  position: absolute;
  right: 25px;
  top: 25px;
}
