:root {
  --container-size: 300px;
  --shadow-color: rgba(74, 71, 71, 0.69);
  --color: white;
}

.slider-about-page {
  display: block;
  width: 100%;
  margin: 0 auto;
  background-color: rgb(237, 234, 240);
  height: 1100px;
  display: flex;
  justify-content: center;
  position: relative;
}

.white-wrap {
  width: 610px;
  height: 650px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
}

.slideshow-container {
  max-width: 1450px;
  width: 100%;
  height: 500px;
  position: relative;
  top: 31%;
  left: 21%;
}

.slide_img {
  width: 100%;
  display: block;
}

.slide.active {
  opacity: 1;
  visibility: visible;
}

.slide {
  list-style: none;
  width: 100%;
  position: relative;
  opacity: 0;
  visibility: hidden;
  transition: opacity 500ms;
  & img {
    width: 50%;
  }
}

.control {
  border: none;
  background: none;
  font-size: 1rem;
  color: white;
  text-align: end;
}

.control:first-child {
  text-align: start;
}

.control:active {
  border: none;
  background: none;
}

.svgicon-img {
  width: 13%;
  height: 13%;
  position: absolute;
  top: 20%;
  left: 30%;
  transform: translateX(-50%) translateY(-50%);
}

.slideshow-slides {
  padding: 0;
  margin: 0;
  display: flex;
}

.slideshow-slides > * {
  flex-grow: 0;
  flex-shrink: 0;
}

.slideshow_controls {
  position: absolute;
  width: 650px;
  top: 50%;
  display: flex;
  justify-content: center;
}

.slideshow_controls > * {
  flex-grow: 1;
}

@media (max-width: 415px) {
  .white-wrap {
    width: 100%;
    top: 5%;
    transform: none;
  }

  .svgicon-img {
    width: 25%;
    height: 25%;
    top: 12.5%;
    left: 83%;
  }

  .slideshow-container {
    width: 360px;
    top: 20%;
    left: 5%;
  }

  .rootPoint {
    min-height: 100vh;
  }
}
