@font-face {
  font-family: "MyWebFont";
  src: url("../../fonts/normal.woff") format("woff");
  font-weight: 400px;
  font-style: normal;
}
@font-face {
  font-family: "MyWebFont";
  src: url("/final_project/fonts/Italic.woff2") format("woff");
  font-weight: 400px;
  font-style: italic;
}
@font-face {
  font-family: "MyWebFont";
  src: url("/final_project/fonts/bold2.woff") format("woff");
  font-weight: 700px;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

html {
  font-family: MyWebFont, sans-serif;
}

.blog-root {
  width: 100%;
  background-color: #edeaf0;
  min-height: 1150px;
  position: relative;
  margin: 0 auto;
}

.blog-section-content-box {
  display: flex;
  justify-content: center;
  padding: 25px 40px 0 40px;
  width: 1100px;
  position: absolute;
  top: -20%;
  left: 50%;
  transform: translateX(-50%);
  flex-wrap: wrap;
}

.box-content {
  width: 290px;
  height: 350px;
  background-color: white;
  position: relative;
  margin: 20px;
}

.image-wrapp {
  height: 160px;
  width: 100%;
  background-size: cover;
  background-position: center;
}
.image-wrapp.fourth {
  background-image: url("https://static.wixstatic.com/media/ad420a_2e514a5350e54d68b59a21bdf059d94c~mv2_d_3532_5298_s_4_2.jpg/v1/fit/w_690,h_1035,al_c,q_80/file.webp");
}
.image-wrapp.seven {
  background-image: url("https://static.wixstatic.com/media/ad420a_8b789e0eed154212a22daf4f6e73e7f2~mv2_d_2000_3000_s_2.jpg/v1/fit/w_690,h_1035,al_c,q_80/file.webp");
}
.image-wrapp.nine {
  background-image: url("https://static.wixstatic.com/media/ad420a_33a9ce7e6c574b3cb1ad91248a0a4d03~mv2_d_2848_4288_s_4_2.jpeg/v1/fit/w_690,h_1039,al_c,q_80/file.webp");
}
.image-wrapp.second {
  background-image: url("https://static.wixstatic.com/media/ad420a_04601c61916d4f2aa921752f35c7b4bd~mv2_d_5334_4000_s_4_2.jpg/v1/fit/w_691,h_518,al_c,q_80/file.webp");
}
.image-wrapp.first {
  background-image: url("https://static.wixstatic.com/media/ad420a_a6917e35f02241c4801a874aab820004~mv2_d_4896_2754_s_4_2.jpg/v1/fit/w_921,h_518,al_c,q_80/file.webp");
}
.image-wrapp.third {
  background-image: url("https://static.wixstatic.com/media/ad420a_bc9e0090ba934790aa23d055e3299caa~mv2_d_5472_3648_s_4_2.jpg/v1/fit/w_777,h_518,al_c,q_80/file.webp");
}
.image-wrapp.fifth {
  background-image: url("https://static.wixstatic.com/media/ad420a_b88d766ec2e64b04bb17b174daf72b81~mv2_d_3130_2075_s_2.jpg/v1/fit/w_782,h_518,al_c,q_80/file.webp");
}
.image-wrapp.six {
  background-image: url("https://static.wixstatic.com/media/ad420a_85b6ea6977a64649822243e64125eb13~mv2_d_6720_4480_s_4_2.jpg/v1/fit/w_777,h_518,al_c,q_80/file.webp");
}
.image-wrapp.eight {
  background-image: url("https://static.wixstatic.com/media/ad420a_ec346fdd050f4a41856cd96be2588520~mv2_d_3088_2048_s_2.jpg/v1/fit/w_782,h_518,al_c,q_80/file.webp");
}

.image-wrapp > a > img {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.title-wrapp,
.comment-wrapp {
  width: 242px;
  margin: 0 auto;
}

a > h5 {
  color: #414141;
  font-style: italic;
  font-size: 16px;
}
a > h5:hover {
  color: #fe8340;
}

.comment-wrapp {
  position: absolute;
  border-top: 1px solid #414141;
  height: 35px;
  line-height: 35px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 15px;
}

.comment-wrapp > span {
  color: #414141;
  font-style: italic;
  font-size: 12px;
}

.comment-wrapp > a {
  color: #414141;
  font-style: italic;
  font-size: 12px;
}

.like-btn {
  color: coral;
  background-color: white;
  border: none;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.write-comment {
  padding-left: 15px;
}

@media (max-width: 415px) {
  .blog-section-content-box {
    flex-wrap: wrap;
  }

  .blog-root {
    height: auto;
  }
}

/*# sourceMappingURL=blog_content.css.map */
