@import url("https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.1.45/css/materialdesignicons.css");
@font-face {
  font-family: "MyWebFont";
  src: url("../../fonts/normal.woff") format("woff");
  font-weight: 400px;
  font-style: normal;
}
@font-face {
  font-family: "MyWebFont";
  src: url("/final_project/fonts/Italic.woff2") format("woff");
  font-weight: 400px;
  font-style: italic;
}
@font-face {
  font-family: "MyWebFont";
  src: url("/final_project/fonts/bold2.woff") format("woff");
  font-weight: 700px;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

ul,
li,
p,
h5 {
  margin: 0;
  padding: 0;
}

html {
  font-family: MyWebFont, sans-serif;
}

.section-root {
  width: 100%;
  background-color: #edeaf0;
  min-height: 1300px;
  position: relative;
  margin: 0 auto;
}

.blog-section-content-box {
  display: flex;
  justify-content: center;
  padding: 25px 40px 0 40px;
  width: 1100px;
  position: absolute;
  top: -17%;
  left: 50%;
  transform: translateX(-50%);
  flex-wrap: wrap;
}

.box-content {
  width: 972px;
  height: 395px;
  background-color: white;
  position: relative;
  margin: 20px;
  display: flex;
  justify-content: center;
}

.container {
  width: 50%;
  margin: 2px;
}

.image-wrapp {
  width: 740px;
  height: 555px;
  background-size: cover;
  background-position: center;
}
.image-wrapp.fourth {
  background-image: url("https://static.wixstatic.com/media/ad420a_2e514a5350e54d68b59a21bdf059d94c~mv2_d_3532_5298_s_4_2.jpg/v1/fit/w_690,h_1035,al_c,q_80/file.webp");
}
.image-wrapp.seven {
  background-image: url("https://static.wixstatic.com/media/ad420a_8b789e0eed154212a22daf4f6e73e7f2~mv2_d_2000_3000_s_2.jpg/v1/fit/w_690,h_1035,al_c,q_80/file.webp");
}
.image-wrapp.nine {
  background-image: url("https://static.wixstatic.com/media/ad420a_33a9ce7e6c574b3cb1ad91248a0a4d03~mv2_d_2848_4288_s_4_2.jpeg/v1/fit/w_690,h_1039,al_c,q_80/file.webp");
}
.image-wrapp.second {
  background-image: url("https://static.wixstatic.com/media/ad420a_04601c61916d4f2aa921752f35c7b4bd~mv2_d_5334_4000_s_4_2.jpg/v1/fit/w_691,h_518,al_c,q_80/file.webp");
}
.image-wrapp.first {
  background-image: url("https://static.wixstatic.com/media/ad420a_a6917e35f02241c4801a874aab820004~mv2_d_4896_2754_s_4_2.jpg/v1/fit/w_921,h_518,al_c,q_80/file.webp");
}
.image-wrapp.third {
  background-image: url("https://static.wixstatic.com/media/ad420a_bc9e0090ba934790aa23d055e3299caa~mv2_d_5472_3648_s_4_2.jpg/v1/fit/w_777,h_518,al_c,q_80/file.webp");
}
.image-wrapp.fifth {
  background-image: url("https://static.wixstatic.com/media/ad420a_b88d766ec2e64b04bb17b174daf72b81~mv2_d_3130_2075_s_2.jpg/v1/fit/w_782,h_518,al_c,q_80/file.webp");
}
.image-wrapp.six {
  background-image: url("https://static.wixstatic.com/media/ad420a_85b6ea6977a64649822243e64125eb13~mv2_d_6720_4480_s_4_2.jpg/v1/fit/w_777,h_518,al_c,q_80/file.webp");
}
.image-wrapp.eight {
  background-image: url("https://static.wixstatic.com/media/ad420a_ec346fdd050f4a41856cd96be2588520~mv2_d_3088_2048_s_2.jpg/v1/fit/w_782,h_518,al_c,q_80/file.webp");
}

.small-img {
  width: 288px;
  height: 162px;
}

.text-and-image-wrap {
  width: 740px;
  margin: 0 auto;
  font-style: italic;
}
.text-and-image-wrap p {
  color: #293e31;
  font-size: 15px;
  padding: 10px 0 10px 0;
  display: block;
  text-align: justify;
  line-height: 20px;
}
.text-and-image-wrap .title {
  font-size: 38px;
  padding-bottom: 15px;
  display: block;
}
.text-and-image-wrap .withLeftBorder {
  font-size: 20px;
  border-left: 2px solid black;
  font-weight: bolder;
  line-height: 30px;
  padding: 0 0 0 10px;
}

.menuLinkPageBlog {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  flex-grow: 0;
  flex-shrink: 0;
}
.menuLinkPageBlog li {
  list-style: none;
  line-height: 65px;
}
.menuLinkPageBlog li a {
  display: block;
  height: 100%;
  padding: 0 10px;
  font-family: MyWebFont;
  font-size: 16px;
  font-style: italic;
  color: #293e31;
}

.menu-wrap {
  margin-left: 100px;
}

.blueElem {
  background-image: url("https://lh5.googleusercontent.com/-glHAaysZFxo/AAAAAAAAAAI/AAAAAAAAAAA/AKF05nCrgjgI8jN1ONwK14k6lfSMwPCG6A/s96-c/photo.jpg");
  width: 32px;
  height: 32px;
  display: inline-block;
  border-radius: 50%;
  color: white;
  background-size: cover;
  background-position: center;
}

.signwindow-wrap {
  width: 740px;
  height: 32px;
  margin: 20px auto;
  position: relative;
}

.mdi-dots-vertical {
  font-size: 14px;
  font-style: italic;
}

.author {
  font-size: 14px;
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 50px;
  font-style: italic;
}

.textAfterAuthor {
  font-size: 14px;
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 150px;
  font-style: italic;
}

.btn-dots {
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  border: none;
  cursor: pointer;
  background-color: #edeaf0;
  outline: none;
}

.title-wrapp,
.comment-wrapp {
  width: 242px;
  margin: 10px auto;
}
.title-wrapp a > span,
.comment-wrapp a > span {
  color: #414141;
  font-size: 16px;
}
.title-wrapp a > span:hover,
.comment-wrapp a > span:hover {
  color: #fe8340;
}

.comment-wrapp {
  position: relative;
  border-top: 1px solid #414141;
  height: 35px;
  line-height: 35px;
}

.comment-wrapp > span {
  color: #414141;
  font-style: italic;
  font-size: 12px;
}

.comment-wrapp > a {
  color: #414141;
  font-style: italic;
  font-size: 12px;
}

.like-btn {
  color: coral;
  background-color: #edeaf0;
  border: none;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.write-comment {
  padding-left: 15px;
}

.randomPosts {
  width: 740px;
  height: 500px;
  position: relative;
  margin: 0 auto;
}

.recentlyBlock {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 20px 0;
}
.recentlyBlock > * {
  display: flex;
  font-size: 18px;
  font-style: italic;
  color: #293e31;
}

.randomelem {
  width: 288px;
}

.wrap-div-main {
  display: flex;
  justify-content: left;
}

.login-text {
  position: absolute;
  bottom: 8.5%;
  left: 50%;
  transform: translateX(-50%);
}
.login-text span {
  color: #293e31;
  font-size: 14px;
  font-style: italic;
}
.login-text a {
  color: #fe8340;
}

.undertextBlock {
  width: 740px;
  margin: 50px auto;
  height: 120px;
}
.undertextBlock .undertextBlockLine {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 50%;
  border-top: 1px solid #293e31;
  line-height: 60px;
}
.undertextBlock .undertextBlockLine .social-actions {
  width: 130px;
  display: flex;
  justify-content: space-between;
}
.undertextBlock .undertextBlockLine .social-actions > * {
  cursor: pointer;
}
.undertextBlock .undertextBlockLine a {
  color: #293e31;
  font-size: 16px;
  font-style: italic;
  cursor: pointer;
}
.undertextBlock .undertextBlockLine a:hover {
  color: blue;
}
.undertextBlock .undertextBlockLine a span {
  font-size: 20px;
}

.views {
  font-size: 16px;
  color: #293e31;
  font-style: italic;
}

.like {
  color: coral;
  background-color: #edeaf0;
  border: none;
  font-size: 18px;
}

.imgBtn {
  border: none;
  width: 100%;
  padding: 0;
}

.blogAdditionalSection {
  display: none;
}

.bigImage {
  width: 1227px;
  height: 920px;
  margin: 0 auto;
}

.active {
  width: 100%;
  background-color: black;
  display: block;
}

.hide-image-btn {
  background-color: black;
  border: none;
  position: absolute;
  right: 5px;
  top: 5px;
}
.hide-image-btn span {
  color: lightgray;
  font-size: large;
}

/*# sourceMappingURL=links_pages.css.map */
