@font-face {
  font-family: "MyWebFont";
  src: url("/final_project/fonts/normal.woff") format("woff");
  font-weight: 400px;
  font-style: normal;
}
@font-face {
  font-family: "MyWebFont";
  src: url("/final_project/fonts/Italic.woff2") format("woff");
  font-weight: 400px;
  font-style: italic;
}
@font-face {
  font-family: "MyWebFont";
  src: url("/final_project/fonts/bold2.woff") format("woff");
  font-weight: 700px;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

html {
  font-family: MyWebFont, sans-serif;
}

.footer-section {
  width: 100%;
  margin: 0 auto;
  background-color: #293e31;
  height: 600px;
  position: relative;
}

.contact-info {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: -25%;
  left: 50%;
  transform: translateX(-50%);
  width: 1020px;
  background-color: white;
  height: 275px;
}
.contact-info div {
  margin: 20px;
  color: #414141;
  width: 320px;
  line-height: 40px;
  height: 185px;
  padding-left: 55px;
  margin-top: 30px;
}
.contact-info h6 {
  margin: 0;
  padding-bottom: 15px;
  font-size: 21px;
  color: #fe8340;
}

.midbox-wrap {
  border-left: 1px solid #414141;
}

.svg-house {
  width: 25%;
  height: 25%;
  position: absolute;
  top: 14%;
  left: 9%;
  transform: rotate(-45deg);
}

.input-container {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
  height: 100px;
}
.input-container h3 {
  display: inline-block;
  color: white;
  margin-top: 13px;
  margin-right: 20px;
}
.input-container button {
  display: inline-block;
  width: 150px;
  height: 40px;
  border-radius: 0px;
  border: 1px;
  display: inline-block;
  margin-top: 23px;
  margin-left: -25px;
  color: #293e31;
  font-size: 20px;
}
.input-container button:hover {
  background-color: #fe8340;
}

.input-wrapp {
  display: block;
  width: 400px;
}

.foot-label {
  font-size: 16px;
  color: #fe8340;
  text-align: left;
  font-style: italic;
}

#eml {
  padding-left: 20px;
  border-width: 1px;
  background-color: #293e31;
  border-style: solid;
  border-color: #fcf9f4;
  width: 350px;
  height: 40px;
  font-size: 20px;
  color: white;
}
#eml:hover {
  border-color: #fe8340;
}

.social-container {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 70px;
  width: 800px;
  left: 50%;
  transform: translateX(-50%);
  height: 50px;
}
.social-container a {
  display: inline-block;
  color: #fe8340;
  font-size: 24px;
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
  padding: 0;
}

.twit-wrap {
  height: 100%;
  border-left: 1px solid #fe8340;
  border-right: 1px solid #fe8340;
  width: 280px;
  text-align: center;
}

.bottom-text {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  font-style: italic;
  position: absolute;
  bottom: 30px;
  font-size: 13px;
}
.bottom-text a {
  color: black;
  text-decoration: underline;
}

.chat-icon {
  position: fixed;
  bottom: 15px;
  right: 15px;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  background-color: #293e31;
}
.chat-icon span {
  color: white;
  font-size: 50px;
}

/*# sourceMappingURL=footer.css.map */
