@import url("https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.1.45/css/materialdesignicons.css");

:root {
  --container-size: 300px;
  --shadow-color: rgba(74, 71, 71, 0.69);
  --color: white;
}

.slideshow-container-seasons {
  max-width: 1450px;
  width: 100%;
  height: 500px;
  position: relative;
  margin-top: 150px;
  margin-left: 75px;
}

.slide-img-seasons {
  width: 60%;
  display: block;
}

.slide-seasons.active {
  opacity: 1;
  visibility: visible;
}

.slide-seasons {
  list-style: none;
  width: 950px;
  position: relative;
  opacity: 0;
  visibility: hidden;
  transition: opacity 500ms;
  height: 450px;
  display: flex;
  justify-content: space-between;
}

.description-products {
  width: 40%;
}

.control-seasons {
  border: none;
  background: none;
  font-size: 27px;
  color: #414141;
}

.control-seasons:first-child {
  text-align: start;
  position: absolute;
  left: -35px;
}

.control-seasons:last-child {
  position: absolute;
  right: -735px;
}

.control:active {
  border: none;
  background: none;
}

.slideshow-slides-seasons {
  padding: 0;
  margin: 0;
  display: flex;
}

.slideshow-slides-seasons > * {
  flex-grow: 0;
  flex-shrink: 0;
}

.slideshow_controls-seasons {
  position: absolute;
  top: 65%;
  display: flex;
  justify-content: center;
}

.slideshow_controls > * {
  flex-grow: 1;
}

.hide-seasons-btn {
  background-color: white;
  border: none;
  font-size: 1.2rem;
  position: absolute;
  right: 75px;
  top: -130px;
}
