@font-face {
  font-family: "MyWebFont";
  src: url("../../fonts/normal.woff") format("woff");
  font-weight: 400px;
  font-style: normal;
}

@font-face {
  font-family: "MyWebFont";
  src: url("/final_project/fonts/Italic.woff2") format("woff");
  font-weight: 400px;
  font-style: italic;
}

@font-face {
  font-family: "MyWebFont";
  src: url("/final_project/fonts/bold2.woff") format("woff");
  font-weight: 700px;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html {
  font-family: MyWebFont, sans-serif;
}

.blog-root {
  width: 100%;
  background-color: #edeaf0;
  min-height: 1300px;
  position: relative;
  margin: 0 auto;
}

.blog-section-content-box {
  display: flex;
  justify-content: center;
  padding: 25px 40px 0 40px;
  width: 1100px;
  position: absolute;
  top: -17%;
  left: 50%;
  transform: translateX(-50%);
  flex-wrap: wrap;
}

.box-content {
  width: 972px;
  height: 395px;
  background-color: white;
  position: relative;
  margin: 20px;
  display: flex;
  justify-content: center;
}

.container {
  width: 50%;
  margin: 2px;
}

.image-wrapp {
  height: 98%;
  width: 100%;
  background-size: cover;
  background-position: center;
  &.nine {
    background-image: url("https://static.wixstatic.com/media/ad420a_33a9ce7e6c574b3cb1ad91248a0a4d03~mv2_d_2848_4288_s_4_2.jpeg/v1/fit/w_690,h_1039,al_c,q_80/file.webp");
  }
  &.first {
    background-image: url("https://static.wixstatic.com/media/ad420a_a6917e35f02241c4801a874aab820004~mv2_d_4896_2754_s_4_2.jpg/v1/fit/w_921,h_518,al_c,q_80/file.webp");
  }
  &.eight {
    background-image: url("https://static.wixstatic.com/media/ad420a_ec346fdd050f4a41856cd96be2588520~mv2_d_3088_2048_s_2.jpg/v1/fit/w_782,h_518,al_c,q_80/file.webp");
  }
}

.image-wrapp > a > img {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.title-wrapp,
.comment-wrapp {
  width: 400px;
  margin: 0 auto;
}

a > h5,
p {
  color: #414141;
  font-style: italic;
  font-size: 30px;
  &:hover {
    color: #fe8340;
  }
}

a > p {
  font-size: 18px;
  padding-bottom: 75px;
}

.comment-wrapp {
  border-top: 1px solid #414141;
  height: 35px;
  line-height: 35px;
  bottom: 15px;
  position: relative;
}

.comment-wrapp > span {
  color: #414141;
  font-style: italic;
  font-size: 12px;
}

.comment-wrapp > a {
  color: #414141;
  font-style: italic;
  font-size: 12px;
}

.like-btn {
  color: coral;
  background-color: white;
  border: none;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.write-comment {
  padding-left: 15px;
}

@media (max-width: 415px) {
  .blog-section-content-box {
    flex-wrap: wrap;
  }

  .blog-root {
    height: auto;
  }
}
